html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.bg-purple {
  background: linear-gradient(-135deg, rgb(81, 148, 196) 35%, rgb(158, 210, 255) 100%);
}

.btn-style {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.ver-cita-cambiar-cita{
  margin-bottom: auto;
}

a.btn{
  font-weight: bold;
  
}

.btn-outline {
  color:rgb(81, 148, 196)!important;
  border-color: rgb(81, 148, 196)!important;
  
}

.btn-outline:hover {
  background-color: #9CD1FE;
  color: #FFF!important;
  font-weight: bold;

}


a.btn-detalles {

  color: #fff;
  padding: 14px 64px;
  margin: 32px auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  background: linear-gradient(-135deg, rgb(81, 148, 196) 35%, rgb(158, 210, 255) 100%);
  cursor: pointer;
  transition: opacity 0.4s;
  border-radius: 30px;
  text-decoration:none;
}

a.btn-detalles:hover {
  opacity: 0.8;
  text-decoration:none;
  color: #FFF;
}

button.cambiarPassword {
  color: #fff;
  padding: 14px 64px;
  margin: 32px auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  background: linear-gradient(-135deg, rgb(81, 148, 196) 35%, rgb(158, 210, 255) 100%);
  cursor: pointer;
  transition: opacity 0.4s;
  border-radius: 30px;
  border: none;
}

button.cambiarPassword:hover {
  opacity: 0.8;
}

.btn-primary {
  color: #fff;
  background-color: #599aca!important;
  border-color: #599aca!important;
  border-radius: 30px!important;
}

