{% extends 'base.html' %}
{% block title %}Cambiar contraseña{% endblock %}
{% block body %}

    <!doctype html>
    <html lang="en">

    <head>
        <!-- Custom styles for this template -->
        <link href="/static/css/consultar_cita.css" rel="stylesheet">
    </head>

    <body class="bg-light">

    <main class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
            <img class="me-3" src="/static/images/consultar_cita.png" alt="" width="48" height="48">
            <div class="lh-1">
                <h1 class="h6 mb-0 text-white lh-1">Por favor, primero ingrese su antigua contraseña</h1>
                <small>Asegurate de escoger una contraseña segura</small>
            </div>
        </div>

        <form method="POST">

            <div class="my-3 p-3 bg-body rounded shadow-sm">
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
                <div class="mb-3">
                    <label for="old_password" class="form-label">Introduzca su antigua contraseña:</label>
                    <input type="password" class="form-control" id="old_password" name="old_password"
                           value="">

                </div>
                <hr class="my-4">
                <div class="mb-3">
                    <label for="new_password1" class="form-label">Introduzca su nueva contraseña:</label>
                    <input type="password" class="form-control" id="new_password1" name="new_password1"
                           value="">

                </div>
                <div class="mb-3">
                    <label for="new_password2" class="form-label">Confirme su nueva contraseña:</label>
                    <input type="password" class="form-control" id="new_password2" name="new_password2"
                           value="">

                </div>

                <hr class="my-4">


                <p align="right"><button class="cambiarPassword" type="submit" style=" margin-top: -1px;">Cambiar contraseña</button></p>



            </div>
            
        </form>
    </main>


    </body>

    </html>
{% endblock %}