{% extends 'base.html' %}
{% block title %}Consultar cita{% endblock %}
{% block body %}
<!doctype html>
<html lang="en">

<head>
  <!-- Custom styles for this template -->
  <link href="/static/css/consultar_cita.css" rel="stylesheet">
</head>

<body class="bg-light">

  <main class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
      <img class="me-3" src="/static/images/consultar_cita.png" alt="" width="48" height="48">
      <div class="lh-1">
        <h1 class="h6 mb-0 text-white lh-1">Consultar tus citas:</h1>
        <small>¡Bienvenido a la sección de tus citas!</small>
      </div>
    </div>

    <div class="my-3 p-3 bg-body rounded shadow-sm">
      <h6 class="border-bottom pb-2 mb-0">Citas realizadas</h6>
        {% for cita in lista_citas %}
      <div class="d-flex text-muted pt-3">

        <img class="me-3" src="/static/images/{{ cita['nombre_servicio'] }}.png" alt="" width="48" height="48">
        <p class="pb-3 mb-0 small lh-sm border-bottom btn-style">
          <strong class="d-block text-gray-dark">Cita de {{ cita['nombre_servicio'] }}</strong>
          Cita agendada para el {{ cita['fecha'] }} a las {{ cita['hora'] }} horas.

          <div class="btn-group" role="group" aria-label="Basic outlined example">
            <a type="button" class="btn btn-outline-primary" href="/informacion_cita/{{ cita['id_cita'] }}">Ver cita</a>
            <a type="button" class="btn btn-outline-primary" href="/fecha_cita">Cambiar cita</a>
          </div>
        </p>

      </div>

        {% endfor %}

      <small class="d-block text-end mt-3">
        <a href="/fecha_cita">Agendar cita nueva</a>
      </small>
    </div>
  </main>

  <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>

  <script src="offcanvas.js"></script>
</body>

</html>
{% endblock %}