<!--ARCHIVO HECHO DE PRUEBA -->
{% extends 'base.html' %}
{% block title %}Hora_cita{% endblock %}

{% block body %}
<!doctype html>
<html lang="en">

<head>
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .b-example-divider {
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }
  </style>


  <!-- Custom styles for this template -->
  <link href="/static/css/fecha_cita.css" rel="stylesheet">
</head>

<body class="bg-light">
  <form class="needs-validation" action="" method="POST">

    <main class="container">
      <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
        <img class="me-3" src="/static/images/informacion_cita_agendar_cita.png" alt="" width="48" height="48">
        <div class="lh-1">
          <h1 class="h6 mb-0 text-white lh-1">Complete los siguientes campos:</h1>
          <small>(Escoga para ver las horas disponibles)</small>
        </div>
      </div>

      <div class="my-3 p-3 bg-body rounded shadow-sm">

        <main>
          <div class="row g-3">

            <div class="col-12">
                <label for="tipo_servicio" class="form-label">Tipo de servicio</label>

                <select id="comboListServicios" onchange="mostrarPrecio()" class="form-select" name="tipo_servicio"  required>


                  {% for servicio in lista_servicios %}
                  <option id="{{ servicio['id_servicio'] }}" value="{{ servicio['id_servicio']+"-"+servicio['precio'] }}">{{ servicio['nombre'] }}</option>
                  {% endfor %}

                </select>
                <div class="invalid-feedback">
                  Please select a valid service.
                </div>

                <button onclick="agregarServicio()" type="button" class="btn">+</button>
                <label for="" class="form-label" id="precio">Precio: $0.00</label>

                <div class="col-md-5">
                  <ul id="lista-servicios">
                  </ul>
                  <label id="precio-total" class="form-label">Total: $0.00</label>
                </div>
            </div>

            <div class="col-12">
                <label for="tipo_servicio" class="form-label">Sucursal</label>
                <select class="form-select" name="tipo_sucursal" required>
                  {% for sucursal in lista_sucursales %}
                  <option value="{{ sucursal['id_sucursal'] }}">{{ sucursal['nombre'] }}</option>
                  {% endfor %}
                </select>
                <div class="invalid-feedback">
                  Please select a valid service.
                </div>
            </div>


            <div class="col-12">
                <div class="form-floating mb-3">
                  <input type="date" class="form-control" id="validationServer04" required name="fecha" min="{{date_min}}"
                    max="{{date_max}}">
                  <label for="validationServer04">Fecha</label>
                </div>
            </div>






          </div>
    </main>
    <div class="container">
      <main>
        <div class="row g-5 center">
          <div class="col-md-7 col-lg-8">
{#              SE PUEDE MODIFICAR PERO SOLO A TRAVES DE CLASES (class="..."), NO CAMBIAR TIPO DE ETIQUETA (<button></button>) O EL ATRIBUTO "type" PORFAVOR #}
            <button class="w-100 btn btn-primary btn-lg" type="submit" >Continuar</button>
            {# <p align="right"><a class="btn btn-lg btn-primary" href="/inicio">Agendar cita</a></p>#}

          </div>
        </div>
</main>
</div>
       <!--   <button class="btn btn-lg btn-primary" type="submit" >Agendar cita</button>-->
         <!-- <p align="right"><a class="btn btn-lg btn-primary" href="/">Agendar cita</a></p>-->





      </div>
    </main>

          </form>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017–2022 Company Name</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
    </div>
      </div>



  <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>

  <script src="form-validation.js"></script>


  <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>

  <script src="offcanvas.js"></script>

  <script>

    let agregarServicio = () => {
      let valor = document.getElementById('comboListServicios').value;
      if (valor !== '') {
        let precio = valor.split('-')[1];
        let id_servicio = valor.split('-')[0];
        let elementos = document.getElementById('comboListServicios');
        let nombre = elementos.options[elementos.selectedIndex].innerText;

        let lista = document.getElementById('lista-servicios').innerHTML;
        let numServicios = document.getElementById('lista-servicios').childElementCount;
        numServicios += 1;
        console.log(id_servicio);
        quitarOpcionDeComboList(id_servicio);

        lista += "<li id=\"" + id_servicio + "\" ><input type='text' style='all:unset;' value='" + nombre + "  $" + precio + "' name='serv_" + id_servicio + "'><button onclick=\"quitarServicioDeMonto(" + id_servicio + ")\" type=\"button\" class=\"btn\" >X</button></li>";
        document.getElementById('lista-servicios').innerHTML = lista;
        actualizarTotal();
        document.getElementById('precio').textContent = 'Precio: $0.00' ;
      }
    }



    let quitarOpcionDeComboList = (id_opcion) =>{
        let comboList = document.getElementById(id_opcion).parentNode;
        let elemento = document.getElementById(id_opcion);
        comboList.removeChild(elemento);
    }

    let agregarOpcionComboList = (id_opcion, idComboList) =>{
        let comboList = document.getElementById(idComboList);
        let valueOpcion = document.getElementById(id_opcion);

    }


    let quitarServicioDeMonto = (id_servicio) => {
        console.log('ID DE SERVICIO A QUITAR:'+id_servicio);
        let elemento = document.getElementById(id_servicio);
        let servicio = document.getElementsByName('serv_'+id_servicio)[0];
        console.log(servicio);
        let comboList = document.getElementById('comboListServicios');
        let nodo = document.createElement("option")
        nodo.value=id_servicio+"-"+servicio.value.split('$')[1];
        nodo.innerText=servicio.value.split('$')[0].trim();
        nodo.id=id_servicio;
        console.log(servicio.value);
        let padreLista = document.getElementById(id_servicio).parentNode;

      padreLista.removeChild(elemento);
        comboList.appendChild(nodo)






      actualizarTotal();
    }

    let actualizarTotal = () => {
      let listaServicios = document.getElementById('lista-servicios').children;
      let precio;
      let total = 0;

      for (let servicio of listaServicios) {
        precio = servicio.innerHTML;
        precio = parseFloat(precio.split('$')[1]);
        total += precio;
      }
      total = total.toFixed(2);
      document.getElementById('precio-total').innerText = 'Total: $' + total;
    }
    let mostrarPrecio = () => {
      let valor = document.getElementById('servicio').value;
      let precio = valor.split('-')[1];

      document.getElementById('precio').textContent = 'Precio: $' + precio;
    }

  </script>
</body>



</html>
{% endblock %}