{% extends 'base.html' %} {% include 'nav-scroller.html' %}
{% block title %}Fecha cita{% endblock %}

{% block body %}
<!doctype html>
<html lang="en">

<head>
    <!-- Custom styles for this template -->
    <link href="/static/css/fecha_cita.css" rel="stylesheet">
</head>

<body class="bg-light">

    <main class="container">

        <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
            <img class="me-3" src="/static/images/calendario_fecha_cita.png" alt="" width="48" height="48">
            <div class="lh-1">
                <h1 class="h6 mb-0 text-white lh-1">Selecciona el día de la cita:</h1>
                <small>(Debe elegir una día para escoger la hora)</small>
            </div>
        </div>
        <div class="my-3 p-3 bg-body rounded shadow-sm">
            <div class="col-lg-8 container my-5">


                <div class="row justify-content-center mx-5">
                    <form class="needs-validation" action="" method="POST">
    
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" id="validationServer04" required name="fecha"
                                min="{{date_min}}" max="{{date_max}}">
                            <label for="validationServer04">Fecha</label>
                        </div>
                        <div class="contenedor_btns">
                            <!--<input class="btn boton_pie" type="submit" name="enviar" value="Mostrar horarios"> -->
                            <h6 style="color: #0d6efc;font-size: 1.2rem;">{{mensaje}}</h6>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        

        

        <hr class="my-4">
        <p align="right"><a class="btn btn-lg btn-primary" href="/hora_cita">Seleccionar hora</a></p>



    </main>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017–2022 Company Name</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>


    <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    <script src="offcanvas.js"></script>
</body>



</html>
{% endblock %}