{% extends 'base.html' %}
{% block title %}Hora_cita{% endblock %}

{% block body %}
<!doctype html>
<html lang="en">

<head>
    <!-- Custom styles for this template -->
    <link href="/static/css/fecha_cita.css" rel="stylesheet">
</head>

<body class="bg-light">

    <main class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
            <img class="me-3" src="/static/images/reloj_hora_cita.png.png" alt="" width="48" height="48">
            <div class="lh-1">
                <h1 class="h6 mb-0 text-white lh-1">Selecciona la hora de la cita:</h1>
                <small>(Debe elegir una hora para revisar la información de la cita)</small>
            </div>
        </div>

        <div class="my-3 p-3 bg-body rounded shadow-sm">

            <div class="list-group">
                {% for hora in horas_disponibles %}

                    <label class="list-group-item list-group-item-action" for="hora_{{ hora.index }}">
                      <input id="hora_{{ hora.index }}" type="radio" name="hora" value="{{ hora }}">  {{ hora }} Horas</label>
{#                    <a href="/confirmar_cita/{{ hora }}" class="list-group-item list-group-item-action">{{ hora }}</a>#}
                {% endfor %}
<!--
                <a href="#" class="list-group-item list-group-item-action">9:00 AM</a>
                <a href="#" class="list-group-item list-group-item-action">9:30 AM</a>
                <a href="#" class="list-group-item list-group-item-action">1:00 PM</a>
                <a href="#" class="list-group-item list-group-item-action">4:00 PM</a>
                <a href="#" class="list-group-item list-group-item-action">4:30 PM</a>
                <a class="list-group-item list-group-item-action disabled">5:00 PM</a>
                -->
              </div>


        </div>



        <hr class="my-4">
        <p align="right"><a class="btn btn-lg btn-primary" href="/agendar_cita">Información de cita</a></p>



    </main>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017–2022 Company Name</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>


    <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    <script src="offcanvas.js"></script>
</body>



</html>
{% endblock %}