{% extends 'base.html' %}
{% block title %}información de cita{% endblock %}

{% block body %}
<!doctype html>
<html lang="en">




<body>


    <main class="d-flex flex-nowrap" style="display: flex; justify-content: center; align-items: center; margin-top: 2%" >


        <!--<div class="b-example-divider b-example-vr" style="margin-top: 4%;"></div>-->





        <div class="col-md-7 col-lg-8" style="margin-top: 10%">
            <form class="needs-validation" novalidate>
                <div class="row g-3" style="padding-left: 7%; padding-top: 0%; margin-top: -9%;">

                    <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm" style="background-color:  #7CB8EB">
                        <img class="me-3" src="/static/images/calendario_fecha_cita.png" alt="" width="48" height="48">
                        <div class="lh-1">
                            <h1 class="h6 mb-0 text-white lh-1">SUCURSAL: LAS LOMAS</h1>
                            <small>Avenida villa de seris</small>
                            <small>/</small>
                            <small>+552 6621284028</small>
                        </div>
                    </div>





                    <div class="col-md-4">
                        <label for="fecha" class="form-label">Fecha</label>
                        <input style="all:unset;" type="text" class="form-control" id="fecha" value="{{ dicc_cita['fecha'] }}"
                            disabled>
                        <div class="invalid-feedback">
                            Ingrese una fecha
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label for="hora" class="form-label">Hora (24h)</label>
                        <input type="text" class="form-control" id="hora" placeholder="{{ dicc_cita['hora'] }}"
                            required>
                        <div class="invalid-feedback">
                            hora requerida.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="total" class="form-label">Total (Pesos)</label>
                        <input type="text" class="form-control" id="total" placeholder="" value="" required>
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Descripción de servicio</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                    <hr>

                    <p align="right"><a class="btn btn-lg btn-primary" href="">Editar cita</a></p>


                </div>
            </form>
        </div>

    </main>
    <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    {#
    <script src="sidebars.js"></script>#}
</body>

</html>
{% endblock %}