{% extends 'base.html' %}
{% block title %}información de cita{% endblock %}

{% block body %}
<!doctype html>
<html lang="en">

<head>
    <!-- Custom styles for this template -->
    <link href="informacion_cita.css" rel="stylesheet">
</head>

<body>


    <main class="d-flex flex-nowrap">


        <div class="b-example-divider b-example-vr"></div>

        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <svg class="bi pe-none me-2" width="40" height="32">
                    <use xlink:href="#bootstrap" />
                </svg>
                <span class="fs-4">Sidebar</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link active" aria-current="page">
                        <svg class="bi pe-none me-2" width="16" height="16">
                            <use xlink:href="#home" />
                        </svg>
                        Cita de maquillaje
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <svg class="bi pe-none me-2" width="16" height="16">
                            <use xlink:href="#speedometer2" />
                        </svg>
                        Cita de peinado
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <svg class="bi pe-none me-2" width="16" height="16">
                            <use xlink:href="#table" />
                        </svg>
                        Cita de facial
                    </a>
                </li>

            </ul>

            <!--<div class="dropdown">
                <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>mdo</strong>
                </a>
                <ul class="dropdown-menu text-small shadow">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>-->
        </div>
           

        <div class="col-md-7 col-lg-8" style="margin-top: 14%">
            <form class="needs-validation" novalidate>
                <div class="row g-3" style="padding-left: 12%; padding-top: 5%;">
                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="firstName" placeholder="Lucia" value="" required>
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="lastName" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Lopez" value="" required>
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="email" class="form-label">Email</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text">@</span>
                            <input type="email" class="form-control" id="email" placeholder="Lucia@gmail.com" required>
                            <div class="invalid-feedback">
                                Your email is required.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <label for="tipo_servicio" class="form-label">Tipo de servicio</label>
                        <select class="form-select" id="tipo_servicio" required>
                            <!--<option value="">Seleccion...</option>-->
                            <option value="">Maquillaje</option>
                            <option>Corte de cabello</option>
                            <option>Pedicura</option>
                            <option>Manicura</option>
                            <option>Faciales</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid service.
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label for="fecha" class="form-label">Fecha</label>
                        <input type="text" class="form-control" id="fecha" placeholder="29/10/2022" required>
                        <div class="invalid-feedback">
                            Ingrese una fecha
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label for="hora" class="form-label">Hora</label>
                        <input type="text" class="form-control" id="hora" placeholder="5:00 PM" required>
                        <div class="invalid-feedback">
                            hora requerida.
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </main>
    <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    <script src="sidebars.js"></script>
</body>

</html>
{% endblock %}