<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="/static/images/cleopatra.png">
    <title>Cambiar contraseña</title>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  
  </head>
<body>

  <section class="side">
    <img src="/static/images/undraw_developer_activity_re_39tg.svg" alt="">
  </section>

  <section class="main">
    <div class="login-container">
      <img src="/static/images/cleopatra.png" alt="" style="height: 60px; width: 60px; margin-bottom: 21px;">
      <p class="title">TRUE BEAUTY</p>
      <div class="separator"></div>
      <h5 class="recover_password">Cambiar Contraseña</h5>
      {% for message in get_flashed_messages() %}
      <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      <h3 class="welcome-message">Ingresar nueva contraseña</p>
      <form class="login-form" method="POST">
        <div class="form-control">
          <input type="password" id="floatingInput" name="password1" required>
          <i class="fas fa-lock"></i>
        </div>
        <h3 class="welcome-message">Confimar contraseña</p>
        <div class="form-control">
          <input type="password" id="floatingInput" name="password2" required>
          <i class="fas fa-lock"></i>
        </div>
        <button class="submit" type="submit" name="enviar" value="Enviar">Enviar</button>
      </form>
    </div>
  </section>
  <script>

    let cerrarAlerta = () => {
      document.getElementById('alerta').setAttribute('style', 'display: none;')
    }
  </script>
</body>

</html>



</html>

