{% extends 'base.html' %}
{% block title %}Registrar usuario{% endblock %}

{% block body %}
<!doctype html>
<html lang="en">

<head>

    <title>Información de usuario</title>
    <link href="/static/css/informacion_usuario.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="/static/css/informacion_usuario.css" rel="stylesheet">

</head>

<body class="bg-light">

    <main class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
            <img class="me-3" src="/static/images/consultar_cita.png" alt="" width="48" height="48">
            <div class="lh-1">
                <h1 class="h6 mb-0 text-white lh-1">Registrar usuario:</h1>
                <small>Ingresa la información requerida para registrar usuarios.</small>
            </div>
        </div>


        <div class="my-3 p-3 bg-body rounded shadow-sm">
            <body class="bg-light">

                <div class="" >
                    <main>
                        <form method="POST">
            
                            {% for message in get_flashed_messages() %}
                            <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% endfor %}
                            <div class="">
                                
                                <div class="card-body">
            
                                    <div class="mb-3">
                                        <label for="" class="form-label">Nombre</label>
                                        <input name="nombre" type="text" class="form-control" id="">
                                    </div>
            
                                    <div class="row">
                                        <div class="col">
                                            <label for="" class="form-label">Apellido paterno</label>
                                            <input name="apellido1" type="text" class="form-control" aria-label="">
                                        </div>
                                        <div class="col">
                                            <label for="" class="form-label">Apellido materno</label>
                                            <input name="apellido2" type="text" class="form-control" aria-label="">
                                        </div>
                                    </div>
            
                                    <div class="row">
                                        <div class="col">
                                            <label for="" class="form-label">Teléfono</label>
                                            <input name="telefono" type="tel" class="form-control" id="">
                                        </div>
                                        <div class="col">
                                            <label for="" class="form-label">Correo</label>
                                            <input name="correo" type="email" class="form-control" id="">
                                        </div>
                                    </div>
            
                                    {% if tipo_usuario == 'gerente' %}
                                    <div class="mb-3">
                                        <label for="tipo_usuario" class="form-label">Tipo de usuario:</label>
                                        <select class="form-select" name="tipo_usuario" id="tipo_usuario">
                                            <option value="gerente">Gerente</option>
                                            <option value="recepcionista">Recepcionista</option>
                                            <option value="estilista">Estilista</option>
                                            <option value="cliente">Cliente</option>
            
                                        </select>
            
                                    </div>
                                    {% endif %}
                                    {% if tipo_usuario == 'recepcionista' %}
                                    <div class="mb-3">
                                        <label for="" class="form-label">Tipo de usuario:</label>
                                        <input name="tipo_usuario" type="text" class="form-control" id="" value="cliente" readonly>
                                    </div>
                                    {% endif %}
            
            
                                    <hr class="my-4">
            
            
                                </div>
                            </div>
                            <div style="display: flex; justify-content: flex-end">
                                <button style="margin-top: -25px" class="submit" type="submit">Registrarlo
                                </button>
            
                            </div>
                        </form>
            
            
                    </main>
                </div>

        </div>


    </main>





</body>












    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017–2022 True Beauty</p>

    </footer>


    <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    <script src="form-validation.js"></script>
</body>

</html>
{% endblock %}