{% extends 'base.html' %}
{% block title %}En reparación{% endblock %}

{% block body %}

<!doctype html>
<html lang="en" class="h-100">

<head>
  <!-- Custom styles for this template -->
  <link href="reparacion.css" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100">

  <!-- Begin page content -->
  <main class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-5" style="margin-top: 6rem!important">Ups...</h1>
      <p class="lead">La página a la que quieres entrar se encuentra en reparación</p>
      <p>Click <a href="/inicio">aquí </a> para regresar a inicio</p>
    </div>
  </main>

  <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span class="text-muted">Place sticky footer content here.</span>
    </div>
  </footer>



</body>

</html>
{% endblock %}