{% extends 'base.html' %}
{% block title %}Servicios{% endblock %}

{% block body %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Servicios</title>




    <link href="/static/css/servicios.css" rel="stylesheet">



    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.2/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.2/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.2/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#712cf9">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        80 .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
    </style>


</head>

<body>


    <main>

        <section class="py-5 text-center container">
            <div class="row py-lg-5" style="margin-top: 30px;">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Bienvenido a la sección de servicios</h1>
                    <p class="lead text-muted">En este apartado pondrás conocer los diferentes trabajos que se brindan
                        en True Beauty y sus características.</p>
                    <p>
                        <a href="/escoger_cita" type="button" class="btn-servicio">Agendar cita</a>

                    </p>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="mb-4" src="/static/images/plancha-de-pelo.png" style="margin: 40px" alt="" width="auto" height=auto>

                            <div class="card-body">
                                <h5 class="card-title" style="text-align: center;">PEINADO</h5>
                                <p class="card-text">Difruta de todo tipo de peinados para cualquier ocasión. Sencillos,
                                    elegantes y a la moda.</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <small class="text-muted">Precio: $299.99 </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="mb-4" src="/static/images/lapiz.png" style="margin: 40px" alt="" width="auto" height=auto>

                            <div class="card-body">
                                <h5 class="card-title" style="text-align: center;">MAQUILLAJE</h5>
                                <p class="card-text">Maquillajes para todo tipo de pieles, seleccionados con los colores
                                    y texturas precisas para cada cliente.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">Precio $499.99</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="mb-4" src="/static/images/tratamiento-facial.png" style="margin: 40px" alt="" width="auto" height=auto>

                            <div class="card-body">
                                <h5 class="card-title" style="text-align: center;">FACIAL</h5>
                                <p class="card-text">Facial con todos los productos especializados en cada persona. Para
                                    una mejor piel, tersa y hermosa.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">Precio $1499.99</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="mb-4" src="/static/images/corte-de-pelo (1).png" style="margin: 40px" alt="" width="auto" height=auto>

                            <div class="card-body">
                                <h5 class="card-title" style="text-align: center;">CORTE DE CABELLO</h5>
                                <p class="card-text">Intenta un nuevo look con los distintos tipos de cortes que True
                                    Beauty puede hacer para tí.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">Precio $299.99</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="mb-4" src="/static/images/soltar.png" style="margin: 40px" alt="" width="auto" height=auto>

                            <div class="card-body">
                                <h5 class="card-title" style="text-align: center;">MANICURA</h5>
                                <p class="card-text">Cuida tus manos y mantenlas bellas y hermosas. Trae el diseño que
                                    gustes y True Beauty lo hará realidad para tí.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">Precio $999.99</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">

                            <img class="mb-4" src="/static/images/depilacion.png" style="margin: 40px" alt="" width="auto" height=auto>

                            <div class="card-body">
                                <h5 class="card-title" style="text-align: center;">PEDICURA</h5>
                                <p class="card-text">Tus pies y su cuidado son muy importantes para tu belleza,
                                    mantenlos limpios y estéticos con los servicios de True Beauty.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">Precio $999.99</small>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </main>

    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Back to top</a>
            </p>
            <p>&copy; 2017–2022 True Beauty, Inc.</p>
        </div>
    </footer>


    <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>


</body>

</html>
{% endblock %}