<!doctype html>
<html lang="en" dir="ltr">

<head>
    <meta charser="utf-8">
    <title>SignUp</title>
    <link rel="icon" href="/static/images/cleopatra.png">
    <link rel="stylesheet" href="/static/css/registrarse.css">
    </link>
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Montserrat'>
    </link>
</head>

<body>
    <div class="main-container">
        <div class="center">
            <img src="/static/images/cleopatra.png" alt="" width="48" height="48">
            <h1>Registrarse</h1>
            <form method="post">
                <div class="txt_field">
                    <input type="text" name="nombre" required></input>
                    <span></span>
                    <label>Nombre</label>
                </div>
    
                <div class="txt_field">
                    <input type="email" name="correo" required></input>
                    <span></span>
                    <label>Email</label>
                </div>
    
                <div class="txt_field">
                    <input input type="tel" name="telefono" <!--pattern="\([0-9]{3}\) [0-9]{3}[ -][0-9]{4}"-->
                        title="A valid telephone number consist of a 3 digits code area between brackets, a space, the three first digits of the number, a space or hypen (-), and four more digits"
                        required></input>
                    <span></span>
                    <label>Télefono</label>
                </div>
    
                <div class="txt_field">
                    <input type="password" name="password" required></input>
                    <span></span>
                    <label>Contraseña</label>
                </div>
    
                <div class="txt_field">
                    <input type="password" name="password" required></input>
                    <span></span>
                    <label>Repetir contraseña</label>
                </div>
    
    
                <input type="submit" value="Registrarse" required></input>
    
                <div class="login_link">
                    ¿Ya te registraste?
                    <a href="/login">Inicie sesión</a>
                </div>
    
            </form>
        </div>
    </div>
    
</body>


</html>






<!--<div >
        <form>
            <div class="card" style="align-self: unset;">
                <div style="display: flex;">
                    <div class="card-body">
                        <div class="card-body text-center">
                            <img class="mb-4" src="/static/images/cleopatra.png" alt="" width="89" height="89">
                        </div>

                        <h5 class="card-title">Crea una cuenta en True Beauty</h5>

                        <div>
                            <form class="needs-validation" novalidate>
                                <div>

                                    <label for="firstName" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="" value=""
                                        required>
                                    <div class="invalid-feedback">
                                        Valid first name is required.
                                    </div>



                                    <label for="lastName" class="form-label">Apellido</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="" value=""
                                        required>
                                    <div class="invalid-feedback">
                                        Valid last name is required.
                                    </div>



                                    <label for="email" class="form-label">Email</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text">@</span>
                                        <input type="email" class="form-control" id="email" placeholder="email"
                                            required>
                                        <div class="invalid-feedback">
                                            Your email is required.
                                        </div>
                                    </div>



                                    <label for="inputPassword" class="form-label">Contraseña</label>
                                    <div>
                                        <input type="password" class="form-control" id="inputPassword">
                                    </div>



                                    <label for="telefono" class="form-label">Teléfono</label>
                                    <input type="text" class="form-control" id="telefono" placeholder="" required>
                                    <div class="invalid-feedback">
                                        Ingrese una número de teléfono
                                    </div>

                                </div>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>

                       
                    </div>
                    <div style="display: flex; align-items: center; justify-content: center; padding: 10px 60px;">
                        <img src="/static/images/proteccion-de-la-piel.png" style="width: 100px; height: fit-content" class="img-fluid rounded-start" alt="">
                    </div>
                    

                </div>

                <button class="w-100 btn btn-lg btn-primary" type="submit">Registrarse</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
        </form>
    
    </div>

    -->
<!-- <main class="form-signin">
        <form>
            <div class="card" style="align-self: unset;">
                <div style="display: flex;">
                    <div class="card-body">
                        <div class="card-body text-center">
                            <img class="mb-4" src="/static/images/cleopatra.png" alt="" width="89" height="89">
                        </div>

                        <h5 class="card-title">Crea una cuenta en True Beauty</h5>

                        <div>
                            <form class="needs-validation" novalidate>
                                <div>

                                    <label for="firstName" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="" value=""
                                        required>
                                    <div class="invalid-feedback">
                                        Valid first name is required.
                                    </div>



                                    <label for="lastName" class="form-label">Apellido</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="" value=""
                                        required>
                                    <div class="invalid-feedback">
                                        Valid last name is required.
                                    </div>



                                    <label for="email" class="form-label">Email</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text">@</span>
                                        <input type="email" class="form-control" id="email" placeholder="email"
                                            required>
                                        <div class="invalid-feedback">
                                            Your email is required.
                                        </div>
                                    </div>



                                    <label for="inputPassword" class="form-label">Contraseña</label>
                                    <div>
                                        <input type="password" class="form-control" id="inputPassword">
                                    </div>



                                    <label for="telefono" class="form-label">Teléfono</label>
                                    <input type="text" class="form-control" id="telefono" placeholder="" required>
                                    <div class="invalid-feedback">
                                        Ingrese una número de teléfono
                                    </div>

                                </div>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>

                       
                    </div>
                    <div style="display: flex; align-items: center; justify-content: center; padding: 10px 60px;">
                        <img src="/static/images/proteccion-de-la-piel.png" style="width: 100px; height: fit-content" class="img-fluid rounded-start" alt="">
                    </div>
                    

                </div>

                <button class="w-100 btn btn-lg btn-primary" type="submit">Registrarse</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
        </form>
    </main> -->