<!doctype html>
<html lang="en" dir="ltr">

<head>
    <meta charser="utf-8">
    <title>SignUp</title>
    <link rel="icon" href="/static/images/cleopatra.png">
    <link rel="stylesheet" href="/static/css/signup.css">
    </link>
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Montserrat'>
    </link>
    
</head>

<body>
    <div class="container">
        
        <div class="title">Registrarse en TrueBeauty</div>
        <form method="POST">
            <div class="user-details">

                <div class="input-box-1">
                    <span class="details">Nombre</span>
                    <input type="text" class="" name="nombre" placeholder="Ingresa tu nombre" required>
                </div>

                <div class="input-box">
                    <span class="details">Apellido paterno</span>
                    <input type="text" class="" name="apellido1" placeholder="Ingresa tu apellido paterno" required>
                </div>

                <div class="input-box">
                    <span class="details">Apellido materno</span>
                    <input type="text" class="" name="apellido2" placeholder="Ingresa tu apellido materno" required>
                </div>

                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="email" class="" name="correo" placeholder="Ingresa tu Email" required>
                </div>

                <div class="input-box">
                    <span class="details">Número de teléfono</span>
                    <input type="tel" class="" name="telefono" placeholder="Ingresa tu número" required>
                </div>

                <div class="input-box">
                    <span class="details">Contraseña</span>
                    <input type="password" class="" name="password1" placeholder="Ingresa tu contraseña" required>
                </div>

                <div class="input-box">
                    <span class="details">Confirmar contraseña</span>
                    <input type="password" class="" name="password2" placeholder="Repetir contraseña" required>
                </div>
            </div>

            {% for message in get_flashed_messages() %}
            <div id="alerta" class="alert alert-secondary alert-dismissible fade show" role="alert">
                {{message}}
                <button  type="button" onclick="cerrarAlerta()" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> X</button>
            </div>

            {% endfor %}

            <div class="button">
                <input type="submit" value="Registrarse">

                <div class="login_link">
                    ¿Ya te registraste?
                    <a href="/login">Inicie sesión</a>
                </div>
            </div>
        </form>
    </div>
    
</body>
<link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
<link href="/css/bootstrap-combobox.css" media="screen" rel="stylesheet" type="text/css">
<link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/funciones.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/3673b740d5.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.4/jspdf.plugin.autotable.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
            integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
            integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/funciones.js?n=1"></script>


</html>

<!-- VERSION PASADA


<div class="input-box">
                    <span class="details">Nombre</span>
                    <input type="text" class="" placeholder="Ingresa tu nombre" required>
                </div>

<div class="input-box">
                    <span class="details">Nombre</span>
                    <input type="text" class="" placeholder="Ingresa tu nombre" required>
                </div>




    <body>
    <div class="main-container">
        <div class="center">
            <img src="/static/images/cleopatra.png" alt="" width="48" height="48">
            <h1>Registrarse</h1>
            <form method="post">
                <div class="txt_field">
                    <input type="text" name="nombre" required></input>
                    <span></span>
                    <label>Nombre</label>
                </div>

                <div class="txt_field">
                    <input type="text" name="" required></input>
                    <span></span>
                    <label>Apellido paterno</label>
                </div>

                <div class="txt_field">
                    <input type="text" name="" required></input>
                    <span></span>
                    <label>Apellido materno</label>
                </div>
    
                <div class="txt_field">
                    <input type="email" name="correo" required></input>
                    <span></span>
                    <label>Email</label>
                </div>
    
                <div class="txt_field">
                    <input input type="tel" name="telefono" required></input>
                    <span></span>
                    <label>Télefono</label>
                </div>
    
                <div class="txt_field">
                    <input type="password" name="password" required></input>
                    <span></span>
                    <label>Contraseña</label>
                </div>
    
                <div class="txt_field">
                    <input type="password" name="password" required></input>
                    <span></span>
                    <label>Repetir contraseña</label>
                </div>
    
    
                <input type="submit" value="Registrarse" required></input>
    
                <div class="login_link">
                    ¿Ya te registraste?
                    <a href="/login">Inicie sesión</a>
                </div>
    
            </form>
        </div>
    </div>
    
</body>
--->




<!--<div >
        <form>
            <div class="card" style="align-self: unset;">
                <div style="display: flex;">
                    <div class="card-body">
                        <div class="card-body text-center">
                            <img class="mb-4" src="/static/images/cleopatra.png" alt="" width="89" height="89">
                        </div>

                        <h5 class="card-title">Crea una cuenta en True Beauty</h5>

                        <div>
                            <form class="needs-validation" novalidate>
                                <div>

                                    <label for="firstName" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="" value=""
                                        required>
                                    <div class="invalid-feedback">
                                        Valid first name is required.
                                    </div>



                                    <label for="lastName" class="form-label">Apellido</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="" value=""
                                        required>
                                    <div class="invalid-feedback">
                                        Valid last name is required.
                                    </div>



                                    <label for="email" class="form-label">Email</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text">@</span>
                                        <input type="email" class="form-control" id="email" placeholder="email"
                                            required>
                                        <div class="invalid-feedback">
                                            Your email is required.
                                        </div>
                                    </div>



                                    <label for="inputPassword" class="form-label">Contraseña</label>
                                    <div>
                                        <input type="password" class="form-control" id="inputPassword">
                                    </div>



                                    <label for="telefono" class="form-label">Teléfono</label>
                                    <input type="text" class="form-control" id="telefono" placeholder="" required>
                                    <div class="invalid-feedback">
                                        Ingrese una número de teléfono
                                    </div>

                                </div>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>

                       
                    </div>
                    <div style="display: flex; align-items: center; justify-content: center; padding: 10px 60px;">
                        <img src="/static/images/proteccion-de-la-piel.png" style="width: 100px; height: fit-content" class="img-fluid rounded-start" alt="">
                    </div>
                    

                </div>

                <button class="w-100 btn btn-lg btn-primary" type="submit">Registrarse</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
        </form>
    
    </div>

    -->
<!-- <main class="form-signin">
        <form>
            <div class="card" style="align-self: unset;">
                <div style="display: flex;">
                    <div class="card-body">
                        <div class="card-body text-center">
                            <img class="mb-4" src="/static/images/cleopatra.png" alt="" width="89" height="89">
                        </div>

                        <h5 class="card-title">Crea una cuenta en True Beauty</h5>

                        <div>
                            <form class="needs-validation" novalidate>
                                <div>

                                    <label for="firstName" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="" value=""
                                        required>
                                    <div class="invalid-feedback">
                                        Valid first name is required.
                                    </div>



                                    <label for="lastName" class="form-label">Apellido</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="" value=""
                                        required>
                                    <div class="invalid-feedback">
                                        Valid last name is required.
                                    </div>



                                    <label for="email" class="form-label">Email</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text">@</span>
                                        <input type="email" class="form-control" id="email" placeholder="email"
                                            required>
                                        <div class="invalid-feedback">
                                            Your email is required.
                                        </div>
                                    </div>



                                    <label for="inputPassword" class="form-label">Contraseña</label>
                                    <div>
                                        <input type="password" class="form-control" id="inputPassword">
                                    </div>



                                    <label for="telefono" class="form-label">Teléfono</label>
                                    <input type="text" class="form-control" id="telefono" placeholder="" required>
                                    <div class="invalid-feedback">
                                        Ingrese una número de teléfono
                                    </div>

                                </div>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>

                       
                    </div>
                    <div style="display: flex; align-items: center; justify-content: center; padding: 10px 60px;">
                        <img src="/static/images/proteccion-de-la-piel.png" style="width: 100px; height: fit-content" class="img-fluid rounded-start" alt="">
                    </div>
                    

                </div>

                <button class="w-100 btn btn-lg btn-primary" type="submit">Registrarse</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
        </form>
    </main> -->